<!-- PageParts -->
<section id='body'>
  <div class="home-container">
    <div class="home-img">
  <%=raw @page.content_for(:body) %>
    </div>
    <div class="home-quote">
      <p>Erst wer zu seinem Wesen erwacht,</p>
      <p>kann sagen:</p>
      <p>„Ich bin“.</p>
      <p id="quote-name">Karlfried Graf Dürckheim</p>
    </div>
  </div>
</section>
<p class="clearfix"></p>


