  <ul class="footer-nav">
    <li>
      <a href="#page_container">Seitenanfang</a>
    </li>
    <li>
      <a href="/kontakt">Impressum</a>
    </li>
  </ul>
  <ul class="footer-address">
    <li id="title">Praxis fuer initiatische Therapie</li>
    <li>Marianne Schemmer</li>
    <li>05485 83 17 70</li>
    <li>mschemmer@freenet.de</li>
  </ul>




