<div class='logo'>
  <section>
    <a href="/home" title="Home">
    <img class="banner" src="/system/images/W1siZiIsIjIwMTQvMTAvMDgvMTJfMzdfNDJfMTQxX2Jhbm5lci5wbmciXV0/banner.png" title="Home" alt="Banner" data-rel="225x255" /></a>
  </section>
</div>
<div class="nav">
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>